@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

.head{
    text-align:center;
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    margin: 30px;
    color: #7d0f3f;
}
.font-contacts{
        font-family: 'Prompt', sans-serif;
        font-size: 15px;
        font-weight: 100;

}@media screen  and (min-width: 481px)and (max-width: 920px) {
    .font-contacts{
        font-family: 'Prompt', sans-serif;
        font-size: 14px;
        font-weight: 100;
    }
    .data1{
        margin-right: auto;
    }
    .data2{
        margin-right: 700px;
    }
    
}
@media screen and (min-width: 390px) and (max-width: 480px) {
    .font-contacts{
        font-family: 'Prompt', sans-serif;
        font-size: 14px;
        font-weight: 100;
    }

    
}

