@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

.head{
    text-align:center;
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    margin: 30px;
    color: #7d0f3f;
}
.font-contacts{
        font-family: 'Prompt', sans-serif;
        font-size: 15px;
        font-weight: 100;
}