.edit{
    font-size: 22px;
    text-align: center;
    margin-right: 30px;

}
.edit-delete{
    font-size: 22px;
}
.edit-1{
   display: flex;
   margin-right: 10px;
}
.edit3{
    margin-left: 1200px;
}