@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

.font-normal1 {
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
}
.font-normal2{
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
}
@media screen and (max-width: 480px) {
    .font-normal1 {
        font-family: 'Prompt', sans-serif;
        font-size: 14px;
    }
    .font-normal2{
        font-family: 'Prompt', sans-serif;
        font-size: 12px;
    }
}