@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

  .form_1{
    height: 714px;
    z-index: -1; 
   
  }
  .continie{
    z-index: -1;
    position: relative;
  }
  .form-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 76vh;
    font-family: 'Prompt', sans-serif;
  }
  .form-img{
    background-image: url(/src/img/ภาควิชา.jpg);
    background-size: cover;
    background-position: 0% 50%;
    background-size: 120%
  }
  
  input[type="text"],
  input[type="password"] {
    height: 45px;
    
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #7d0f3f;
    border-radius: 20px;
    color: #fff;
    padding: 10px 30px;
  }
  
  input[type="submit"]:hover {
    background: #804760;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .head-login-left{
    background-color: #f1f1f1;
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: -2px -4px 4px rgba(0, 0, 0, 0.2)
    
  }
  .head-login-left-focus{
    background-color: #ffffff;
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: -2px -4px 4px rgba(0, 0, 0, 0.2)
  }
  .head-login-right{
    background-color: #f1f1f1;
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 2px -4px 4px rgba(0, 0, 0, 0.2)
    
  }

  .head-login-right-focus{
    background-color: #ffffff;
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 2px -4px 4px rgba(0, 0, 0, 0.2)
  }
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }
  .slect{
    display: flex;
    list-style-type: none;
    padding-right: 0rem;
  }
  .slect2{
    padding: 1px 30px ;
  }
  .bg-btw{
    background-color: rgba(0, 0, 0, 0.347);
    
  }
  .add-font{
    font-family: 'Prompt', sans-serif;
    color: white;
  }
@media screen and (max-width: 390px) {
  
  .form-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 70vh;
    font-family: 'Prompt', sans-serif;
  }
  .form-img{
    background-image: url(/src/img/ภาควิชา.jpg);
    background-size: cover;
    background-position: 0% 50%;
    background-size: 170%
  }
}

@media screen and (min-width:391px) and (max-width:480px) {
  .form-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 90vh;
    font-family: 'Prompt', sans-serif;
  }
  .form-img{
    background-image: url(/src/img/ภาควิชา.jpg);
    background-size: cover;
    background-position: 0% 50%;
    background-size: 154%
  }
    
}
@media screen and (min-width:481px) and (max-width:920px) {
  .form-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: 'Prompt', sans-serif;
  }
  .form-img{
    background-image: url(/src/img/ภาควิชา.jpg);
    background-size: cover;
    background-position: 0% 50%;
    background-size: 154%
  }
    
}