@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
.font-semibold1{
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
}
.font-bold1{
    font-family: 'Prompt', sans-serif;
}


#back-bg-top{
background-size: auto 100%;
    background-image: url(/src/img/background_search.png);
    
}
.box-in-profile{

    background-color: white;
    background-size: auto;
    box-shadow: 3px 3px #E2E2E2;
    border-radius: 5px;
}
.line-right{
    box-shadow: 1px 0px black;
}

