@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
.font-semibold1{
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
}
.font-bold1{
    font-family: 'Prompt', sans-serif;
}


#back-bg-top{
background-size: auto 100%;
    background-image: url(/src/img/background_search.png);
    
}
.box-in-profile{

    background-color: white;
    background-size: auto;
    box-shadow: 3px 3px #E2E2E2;
    border-radius: 5px;
}
.line-right{
    box-shadow: 1px 0px black;
}
.head_low_table{
    grid-template-columns: repeat(10, minmax(0, 1fr));
}
.head_low_table_product{
    grid-column: span 7 / span 7;
}
.head_low_table_contact{
    grid-template-columns: repeat(10, minmax(0, 1fr));
}
.head_low_table_product_contact{
    grid-column: span 8 / span 8;
}
.class_graph123{
    padding-top: 0px;
}
.class_tab_tag{
    width: 140px;
}
.class_tab_tag2{
    
}
.edit_button_pos1{
place-items: end;
}
.edit_button_pos2{
    margin-right: 40px;
    margin-top: 30px;
}
.class_add_btn_pos{
    place-content: end;
    padding-top: 10px;
    padding-right: 30px;
}
@media screen and (max-width: 920px) {
    .head_low_table{
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .head_low_table_product{
        grid-column: span 2 / span 2;
    }
    .head_low_table_contact{
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .head_low_table_product_contact{
        grid-column: span 3 / span 3;
    }
    .class_tab_tag{
        width: 0px;
    }
    .class_tab_tag2{
        justify-content: center;
    }
    .edit_button_pos1{
        place-items: center;
        }
        .edit_button_pos2{
            margin-right: 0px;
            margin-top: 70px;

        }
}
@media screen and (max-width: 480px) {
    .class_graph123{
        padding-top: 80px;
    }
}
