@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
.font-semibold1{
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
}
.font-bold1{
    font-family: 'Prompt', sans-serif;
}
.dropdown-class{
    color: #7d0f3f;
    background-color: #7d0f3f;
}